body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: beige;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}